
@media screen and (max-width: 600px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    
    .timeline .kontener{
        width: 70%;
        padding-left: 100px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-box{
        left: 0;
    }
    .left-box img,
    .right-box img{
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}

/* faq */
.faq {
    color: #e5c80d;
    padding: 30px 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 250px;
    font-size: 17px;
    line-height: 25px;
    padding: auto;
  }
  
  .faq-penjelasan {
    width: 85%;
  }
  
  .faq-penjelasan p{
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    
  }
  
  .faq h1{
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .input ul{
    text-align: left;
  }
  
  .input ul li p {
    color: #fff;
    line-height: 18px;
    padding: 8px 20px 0;
  }

  .input button{
    width: fit-content;
    padding: 2px 5px;
  }
  
  .input ul li .warna {
  color: #e5c80d;
  }

@media (max-width:768px) {
    .timeline{
      width: 100%;
      overflow: hidden;
    }

    #about-timeline {
        grid-template-columns: 1fr;
        display: grid;
    }

    #about-timeline .diagram h1,
    #about-timeline .diagram h3{
        text-align: center;
    }

    #about-timeline .diagram{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .judul-timeline{
        margin-top: 35%;
    }
    
    }

